<ion-header mode="md">
  <ion-toolbar color="primary">
    <ion-title>Choruses</ion-title>
    <ion-buttons slot="end">
      <ion-button mode="ios" routerLink="/login">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <div class="search-toolbar">
      <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search Choruses or Location" mode="ios" (ionInput)="searchChoruses()" ></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button mode="ios">
          <ion-icon slot="icon-only" name="filter"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content id="choruses-view" class="ion-padding background"></ion-content>