<ion-app>
  <ion-router-outlet class="ion-page"></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="choruses">
        <ion-icon src="assets/icons/people.svg"></ion-icon>
        Choruses
      </ion-tab-button>
      <ion-tab-button tab="my-choruses">
        <ion-icon src="assets/icons/music.svg"></ion-icon>
        My Choruses
      </ion-tab-button>
      <ion-tab-button *ngIf="isUserAdmin()" tab="chorus-admin">
        <ion-icon src="assets/icons/settings.svg"></ion-icon>
        Admin
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>